*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--poppins-font);
}
html{
  scroll-behavior: smooth;
}
:root{
  --main-color:#26c2ff;
  --second-color:#4c94b1;
  --bg-color-1:#000000;
  --bg-color-2:#333333;
  --bg-color-3:#181818;
  --text-color-2:#d6d6d6;
  --text-color-3:#cacaca;
  --text-color-4:#b1afaf;
  --border-color:#cfcfcf;
}
body{
  background-color: var(--bg-color-1);
  color: #fff;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: var(--text-color-2);
}


